* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: inherit;
}


/*wave作る*/
.wave {
    position: relative;
  }
  
  .wave canvas {
    position: fixed;
    bottom: 35%;
    left: 0px;
    width: 100vw;
    z-index: 1;
  }



/*titleセクション*/
/*スクロールダウン全体の場所*/
.scrolldown1{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  left:50%;
  bottom:70px;
    /*全体の高さ*/
  height:50px;
}

/*Scrollテキストの描写*/
.scrolldown1 span{
    /*描画位置*/
  position: fixed;
  z-index: 1;
  left:48.5%;
  top: 85%;
    /*テキストの形状*/
  color: #eee;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown1::after{
  content: "";
    /*描画位置*/
  position: fixed;
  z-index: 1;
    /*線の形状*/
  width: 1px;
  height: 30px;
  background: #eee;
    /*線の動き1.4秒かけて動く。永遠にループ*/
  animation: pathmove 2s ease-in-out infinite;
  opacity:0;
}
/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
    0%{
      height:0;
      top:800px;
      opacity: 0;
    }
    30%{
      height:630px;
      opacity: 1;
    }
    100%{
      height:0;
      top:700px;
      opacity: 0;
    }
}

.title:before{
    content: '';
    position:fixed;
    top:0;
    left:0;
    z-index:-2;
    width:100%;
    height: 100vh;
    /*背景画像設定*/
    background:url("zara2png.png") no-repeat center;
    background-size:cover;
}

.title::after{
    content: "";
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-image: linear-gradient(90deg, rgba(250, 185, 250, 0.4) 20%, rgba(149, 233, 243, 0.4));*/
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.7;
} 


.title{
    padding: 400px 30px;
    position: relative;
}
.title .welcome{
    position: fixed;
    top: 38%;
    left: 35%;
    z-index: 1;
    text-align: center;
    font-size: 3rem;
    line-height: 130%;
    font-family: "HiraMinProN-W6";
    color: rgba(255, 255, 255, 0.9);
}


#container{
    position: relative;
    z-index:1;
    background-color: #000;
    background-image: url(kuro.png);
    /*background-image: url(conzara1.png);*/
}



/* aboutセクション */
.hai-a{
    width: 100%;
    height: 700px;
    position: relative;
}
.about{
    position: relative;
    width: 100%;
    height: 740px;
}
.about h2{
    padding-top: 100px;
    padding-right: 210px;
    text-align: right;
    color: #fff;
    font-size: 5rem;
    font-family: "HiraMinProN-W6";
}
.daia{
    color: rgba(255, 255, 255, 0.5);
    font-family: "HiraMinProN-W6";
    font-weight: bold;
    font-size: 60rem;
    position: absolute;
    top: -280px;
    left: 15px;
}
.pro{
    position: relative;
    justify-content: left;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
    margin: 4em auto;
    width: 70%;
    height: 400px;
    background-color: #eee;
}
.pro .proimg{
    width: 28vw;
}
.pro li{
    list-style: none;
}
.pro .profile-list{
    position: relative;
    top: 5vh;
    right: 3vw;
}
.pro .profile-list .profile-name{
    font-size: 1.5rem;
    color: rgb(165, 79, 79);
    font-weight: bold;
}
.pro .profile-list .profile-dd{
    font-size: 1.2rem;
    padding-top: 5px;
    padding-bottom: 50px;
}

/*abooutふわっと*/
.scroll-up {
    opacity: 0; 
    visibility: hidden;
    transform: translateY(50px);
    transition: all 1s;
}
.scroll-up.is-show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}


/*sukilセクション*/
.hai-s{
    width: 100%;
    height: 800px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    top: 200px;
}
.sukil{
    width: 100%;
    height: 740px;
}
.sukil h2{
    padding-top: 50px;
    padding-left: 290px;
    color: #fff;
    text-align: left;
    font-size: 5rem;
    font-family: "HiraMinProN-W6";
}
.dais{
    color: rgba(255, 255, 255, 0.5);
    font-family: "HiraMinProN-W6";
    font-weight: bold;
    font-size: 60rem;
    position: absolute;
    top: -300px;
    right: 15px;
}

.matome{
    text-align: left;
    padding-left: 80px;
}
.sgazou{
    width: 50%;
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    row-gap: 80px;
    column-gap: 30px;
}
img{
    width: 200px;
}

.aikon {
    animation-name: ▲▲▲▲;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
}
@keyframes ▲▲▲▲ {
    0% {
        transform: translate(0,0px);
    }

    100% {
        transform: translate(0,-30px)
    }
}

 /*右から左へ----------------------------*/
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .d-demo{
      padding-top: 300px;
  }
  .d-demo__wrap {
    display: flex;
    overflow: hidden;
  }
  
  .d-demo__list {
    display: flex;
    list-style: none;
  }
  
  .d-demo__list--left{
  animation :infinity-scroll-left 90s infinite linear 0.5s both;
  }
  
  .d-demo__item {
    width: calc(100vw / 6);
  }
  .d-demo__item > img{
     width: 100%;
  }

/* worksセクション */
#works{
    width: 100%;
    height: 950px;
    position: relative;
}
#works h2{
    padding-top: 230px;
    padding-right: 210px;
    text-align: right;
    font-size: 5rem;
    color: #fff;
    font-family: "HiraMinProN-W6";
}

.youso{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    right: 180px;
    top: 360px;
    z-index: 2;
}
.log{
    width: 22vw;
    margin-bottom: 20px;
}

.daiw{
    display: block;
    line-height: 0em;
    z-index: 0;
    color: rgba(255, 255, 255, 0.5);
    font-family: "HiraMinProN-W6";
    font-weight: bold;
    font-size: 900px;
    position: absolute;
    bottom: 300px;
}

.youso a img{
    border: solid 2px #000;
    overflow: hidden;

}
a img{
    cursor: pointer;
    transition-duration: 0.3s;
}
a:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
}

a{
    position: relative;
}

.sam .mask{
    width:			100%;
	height:			92%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(52, 51, 51, 0.9);	/* マスクは半透明 */
	-webkit-transition:	all 0.5s ease;
	transition:		all 0.5s ease;
}
.sam:hover .mask{
    opacity: 1;
    padding-top:		50px;	/* ホバーで下にずらす */
}
/*logoホバー*/
a .cap-logo{
    font-size:		150%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
    font-weight: bold;
}
/*DTPホバー*/
a .cap-DTP{
    font-size:		150%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
    font-weight: bold;
}
/*movieホバー*/
a .cap-movie{
    font-size:		150%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
    font-weight: bold;
}
/*moderingホバー*/
a .cap-mode{
    font-size:		150%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
    font-weight: bold;
}
/*sketchホバー*/
a .cap-ske{
    font-size:		150%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
    font-weight: bold;
}
/*PDホバー*/
a .cap-PD{
    font-size:		150%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
    font-weight: bold;
}



/*footerセクション*/
footer{
    text-align: center;
    padding-top: 100px;
    color: rgb(170, 170, 170);
    font-size: 25px;
    height: 50px;
}
small{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 537px;
    padding-left: 537px;
    background-image: url(kuro.png);
    background-color: rgba(0, 0, 0, 0.6);
}

/*トップ戻るボタン*/
.top_botan{
    text-align: right;
    position: fixed;
    width: 100%;
    right: 15px;
    bottom: 10px;
    background: none;
    z-index: 9999; /*重なりを調整*/
  }
  .botan{
    color: #000;
    background: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    padding:0.7em 1em ;
    border-radius: 99999999999999999px;
    transition: 0.3s background, 0.3s border, 0.5s transform;
  }
  .botan:hover{
    background: rgb(164, 164, 164);
    color: rgb(255, 255, 255);
    border: 4px solid #000;
    transform: translateY(4px);
  }
  

 